.App {
  text-align: center;
}

.App-logo {
  width: 100%;
  object-fit: contain;
}

.App-header {
  margin-top: -5px;
  display: flex;
  place-items: center;
  background-color: #222;
  height: 90px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  flex-grow: 1;
}

.App-intro {
  font-size: large;
}
